@charset "utf-8";
body {background: url(../photo/bg.gif);}
.mainbav {width:1280px; height:768px; margin:0 auto; overflow:hidden;}


/*-------------公共定义----------*/
.form_text, .form_area{	border: 1px solid #CCCCCC; border-radius: 4px 4px 4px 4px;padding:4px;}
.form_text, .form_area{  
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);}
.form_text:focus, .form_area:focus { /*鼠标放上去变颜色－－高亮 --文本框*/
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);}
.form_text {width:146px;}
.layout_form {padding:0px; width:560px; height:300px;}
.hide {display:none;}
.relative {position:relative;}
.inlineblock {display:inline-block; width:100%;}
  
  
/*-------------浮动窗口----------*/
.window {width:100%; height:100%; background:#f1faff; border:1px #5d9dd2 solid; overflow:hidden;}
.window dt {height:30px; line-height:30px; background:#5d9dd2; border-bottom:#085786 1px solid; margin-bottom:26px; color:#FFF; font-size:18px; text-indent:5px;}
.window dt a {float:right; width:20px; height:20px; margin-top:4px; margin-right:3px; background:url(../photo/edit-delete.png) no-repeat center center;}
.window dt a:hover {background:url(../photo/delete-hover.png) no-repeat center center;}
.window dd {margin-bottom:10px;}
.window dd .tit {width:39%; display:inline-block; text-align:right; line-height:22px; vertical-align:top;}
.window dd .cont {display:inline-block; margin-left:10px; line-height:22px; width:58%;}
.window .win_save {width:100%; text-align:center; margin-top:20px;}
.window .win_save a {display: inline-block;width:60px; padding:4px; border:1px #5d9dd2 solid; margin:0 10px; color:#5d9dd2; text-align:center;}
.window .win_save a:hover {color:#f00;border:1px #f00 solid; background:#eeffed;}
  
  
/*----------pagination分页--------------------*/
#pagination {text-align:right;}
.pagination {font-size:80%; display:inline-block; margin-right:32px; *margin-left:400px;}
.pagination a {text-decoration:none; border:solid 1px #AAE; color:#15B;}
.pagination a, .pagination span {display:block; float:left; padding:0.3em 0.5em; margin-right:5px; margin-bottom:5px; min-width:1em; text-align:center;}
.pagination .current {background:#26B; color:#fff; border:solid 1px #AAE;}
.pagination .current.prev, .pagination .current.next{color:#999; border-color:#999; background:#fff;}


/*-------------页面顶部--------*/
.topnav {width:100%; height:84px; background:url(../photo/bj_bg.jpg) no-repeat left top;}
.topnav_logo {width:1280px; height:84px; margin:0 auto; color:#fff; position:relative;}
.topnav_logo p {float:left; width:auto; padding:0 10px; margin:10px 10px 0 0;}
.topnav_logo h2 {float:left; color:#fff; font-size:26px; line-height:80px;}
.topnav_logo .message {float:right; display:block; margin-top:50px; margin-right:20px;}
.topnav_logo .message a {margin:0 17px; color:#fff;}
.topnav_logo .message a:hover {color:#CF6;}
.topnav_logo .tip {position:absolute; right:75px; top:25px; color:#cc0000; font-weight:bolder;}


/*-------------左边菜单----------------*/
.column {width:1280px; height:768px;margin:0;padding:5px 0 0 0; margin:0 auto; background:#fff;}
.title_sid {float:left; display:block; width:220px; height:700px; margin-right:5px; height:100%; background:#5d9dd2 url(../photo/ul.png) no-repeat left top;}
.title_sid ul {margin-top:50px; padding-top:100px; background:url(../photo/ul_bg.png) no-repeat 60px 0px;}
.title_sid ul li {background:url(../photo/ul_bottom.png) no-repeat left bottom;}
.title_sid ul li a {width:220px; height:40px;line-height:40px;display:inline-block; padding:5px 0; font-size:20px; text-align:center; color:#fff;}
.title_sid ul li a:hover {color:#ff9c00;}
.title_sid ul li .current_menu {background:url(../photo/ul_ahover.jpg) no-repeat left top; color:#333; font-size:22px;}


/*-------------内容--顶部和搜索---------------*/
.submenu {float:right;width:1054px;height:700px;}
.sub_top {height:30px; line-height:30px; margin:0 0 5px 5px; background:#d6ecff; color:#006; font-size:18px; text-indent:5px;}
.search {line-height:26px; width:100%; display:inline-block; border-bottom:solid 1px #86b9e3;}
.search .search_img {float:left; width:216px; margin-left:22px; background:url(../photo/search_bg.png) no-repeat left top;}
.search .search_text {width:150px; border:0; background:none; height:26px; line-height:26px; padding:0 0 0 5px;}
.search .search_img a {color:#333; margin-left:5px; padding-left:15px; line-height:24px; background:url(../photo/search_icon.png) no-repeat left center;}
.search .search_img a:hover {background:url(../photo/search_icon.png) no-repeat left center;}
.search .tag_add {float:left; margin-top:3px; margin-left:10px;}
.search .tags .tag {float:left; margin-left:10px; position:relative; border:solid 1px #fff;}
.search .tags .tag .tsd {padding:0 10px;}
.search .tags .tag .tmd {position: absolute; top:23px; left:-1px; z-index:10; width:100%; border:solid 1px #86b9e3; border-top:none;}
.search .tags .tag .tmd a{width:100%; display:inline-block; margin:0; padding:0; line-height:20px; line-height:20px; text-align:center; background:#fff;}
.search .btns a {float:left; margin-left:20px; background:url(../photo/orange70_none.png) no-repeat center center; width:70px; text-align:center; color:#fff;}
.search .btns a:hover {background:url(../photo/orange_hover.png) no-repeat center center;}
.search #filePlay {float:right; margin-right:22px; margin-top:3px;}


/*-------------内容--列表-----------*/
.file_list {width:100%; height:575px; background:#fff; margin:0 0 5px 5px;}
.file_list table {width:1030px; border-collapse:collapse; margin:10px 0 0 5px;}
.file_list table tr {border:1px #CCC solid; height:32px; line-height:32px;}
.file_list table th {height:30px; text-align:center;line-height:32px; font-size:16px; color:#333; background:#e2eef8;}
.file_list tbody tr td {text-align:center; color:#666; border:1px #ccc solid; overflow:hidden;}
.file_list tbody tr:hover {background:#ecffca;}
#file_fileDetail .imgs {float:left; width:33%; text-align:center;}
#file_fileDetail .imgs img {width: 196px; height:110px; margin-bottom:32px;}
#file_fileDetail .infos {float:left; width:66%; border-left:solid 1px #86b9e3;}
#file_fileDetail .window dd .tit {width:100px;}
#file_fileDetail .window dd .cont {width:376px;}


/*----------点播 --列表----------*/
.meeting_vod  {margin-top:10px; margin-left:26px; width:100%; height:580px; display:inline-block;}
.meeting_vod li {float:left; width:230px;margin:0 20px 10px 0; text-align:center; color:#666; position:relative;background:#f1f8ff;  border-bottom:2px #5d9dd2 solid;}
.meeting_vod li p {margin:5px 0; overflow:hidden; height:16px; line-height:16px;}
.meeting_vod li em {width:230px; height:131px; position:absolute; left:0; top:0px; background:url(../photo/guankan.png) no-repeat left top;  display:none; z-index:999;}
.meeting_vod li .guankan_img {position:absolute; left:0; top:0; z-index:2;}
.meeting_vod li a:hover em {display:block;}


/*----------系统管理----------*/
.system_set {width:490px; border:1px #86b9e3 solid; margin:10px 20px 10px 10px; padding:10px 0 6px 0; background:url(../photo/ph.png) no-repeat left top;display:inline; overflow:hidden;}
.system_set dt {text-align:center; font-size:16px; margin-bottom:10px;border-bottom:1px #b5d8f4 solid; padding-bottom:5px;}
.system_set dd {width:490px; float:left;  height:24px; line-height:24px; margin-bottom:6px;}
.system_set dd p {float:left; width:180px; display:block; margin-right:15px; text-align:right; font-weight:500; color:#666; font-size:16px; letter-spacing:2px;}
.system_set dd span {float:left;display:block; margin-right:10px;}
.system_set dd span .small {margin-top:6px;}
.system_set dd span .clock {vertical-align:middle; cursor:pointer; boder:none;}
.system_set dd span a {color:#09f; margin-top:5px; margin-right:15px; border:1px #09f solid; padding:1px 10px;}
.system_set dd span a:hover, .save a:hover {color:#f00;border:1px #f00 solid; background:#eeffed;}
.system_set .single {clear:both; width:490px !important; text-align:center !important; margin:0;}
.system_set .single_time {width:160px; height:20px;}
.system_set .list_set {height:150px; overflow:auto; margin-bottom:0px;}
.system_set .list_set li{line-height:26px; width:100%;}
.system_set .list_set li span {display:inline-block; width:320px; text-indent:60px;}
.system_set .list_set li a {margin-right:20px; color:#09f;}
.system_set .list_set li:hover {background:#ddd;}
.system_set .dbBackBtn {position:absolute; right:20px; font-size:14px; color:#09f;}
.system_set .file_update {width:177px;}


/*-------------会议管理&系统信息---------*/
.meeting {width:1020px; border:1px #86b9e3 solid; margin:10px 0 0 10px; padding-top:10px; background:url(../photo/ph.png) no-repeat right top; position:relative;}
.meeting b {color:#0C0;}
.meeting .line {width:100%; line-height:24px; margin-bottom:10px;}
.meeting .line .tit{width:415px; display:inline-block; margin-right:15px; text-align:right; vertical-align:top; font-weight:500; color:#666; font-size:16px; letter-spacing:2px;}
.meeting .line .cont{margin-right:10px; display:inline-block;}
.meeting .datasource .dsItem {border:solid 1px #fff; height:24px; vertical-align:bottom;}
.meeting .datasource .edit {border-bottom:dashed 1px #86b9e3;}
.meeting .datasource .dsItem .dynamic {display:inline-block;}
.meeting .datasource .dsItem .addr {width:140px; float:left; border-bottom:dashed 1px #86b9e3; line-height:22px;}
.meeting .datasource .dsItem .status {margin:6px 30px 0 14px; float:left;}
.meeting .datasource .dsItem .filed {float:left;}
.meeting .datasource .dsItem .addr_input {float:left; width:100px; margin: 0px 10px 0px 1px;}
.meeting .datasource .dsItem .port_input {float:left; width:28px; margin: 0px 10px 0px 1px;}
.meeting .datasource .dsItem .username_input {float:left; width:84px; margin: 0px 10px 0px 1px;}
.meeting .datasource .dsItem .password_input {float:left; width:88px; margin: 0px 10px 0px 1px;}
.meeting .datasource .dsItem .opert {margin-right:12px; float:left; cursor:pointer;}
.meeting .layoutContainer img {margin-right:9px; width:71px; height:47px; cursor:pointer; border:solid 2px #fff; padding: 2px;}
.meeting .layoutContainer img:hover {border-color:#FF9C00;}
.meeting .layoutContainer img.cur_layout {border-color:red;}
.meeting .canves {position:absolute; width:100%; height:100%; left:0px; top:0px; background-color:#000; opacity: 0.1; filter:Alpha(opacity=10);}
.button_panel {width:100%; text-align:center; margin-top:20px;}
.button_panel a {display:inline-block; color:#09f; border:1px #09f solid; padding:6px 10px; margin:0 10px;}


/*----------公共的-提醒-警告-优先级最高----------*/
.warn {color:#ee0000;}
.error {color:#ee0000;}
.notice {color:#ee0000;}
.text_warn {border:solid 1px #ff9c00;}
.radio_warn {}